@model IEnumerable<appSegurancas.Models.Seguranca>

    @{ ViewData["Title"] = "Painel de AprovańŃo"; }

    <div class="text-center">
        <h1 class="display-4" style="margin-top:150px">Painel do Administrador</h1>
    </div>
    <div class="text-center">
        <button style="margin-top:100px" class="btn btn-success"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AprovarSeguranca">Cadastro</a></button>
        <button style="margin-top:100px" class="btn btn-success"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="VisualizarSegurancas">Contracheques</a></button>
    </div>
