@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated){

    
<div class="text-center">
    <h1 class="display-4" style="margin-top:150px">Bem vindo, @User.Identity.Name!</h1>
</div>
<div class="text-center">
    <button style="margin-top:100px" class="btn btn-success"><a class="nav-link" asp-area="" asp-controller="Seguranca" asp-action="MeusContracheques">Meus Contracheques</a></button>
</div>
} else {

<div class="text-center">
    <h1 class="display-4" style="margin-top:150px">appSegurancas</h1>
</div>
<div class="text-center">
    <button style="margin-top:100px" class="btn btn-success">
        <a class="nav-link" asp-area="" asp-controller="Autenticacao" asp-action="Index">Fazer Login</a>
    </button>
</div>

}




