@model IEnumerable<appSegurancas.Models.Contracheque>

    @{ ViewData["Title"] = "Meus Contracheques"; }

    <h2>Meus Contracheques</h2>

    <table class="table table-hover mt-4">
        <thead class="table-dark">
            <tr>
                <th>Mês</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.mesUpload</td>
                <td>@item.anoUpload</td>
                <td>
                    <a asp-action="DownloadContracheque"
                       asp-route-id="@item.id"
                       class="btn btn-sm btn-danger">
                        <i class="bi bi-file-earmark-pdf"></i> PDF
                    </a>
                </td>
            </tr>
        }   
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-3">
    <i class="bi bi-arrow-left"></i> Voltar</a>
